<div class="comments" data-id="<%= @comment.id %>">
  <% if current_user %>
    <% @vote = @comment.vote_by(current_user) %>
  <% end %>

  <div class="votes-forms">
    <%= render "events/votes_forms" %>
  </div>

  <div><%= @comment.text %></div>
  <div>Posted by: <%= @comment.author.twitter_handle %></div><br>

  <a class="reply" href="#">reply</a>
  <%= render "events/comment_form" %>


  <div class="nested">
    <% @comment.replies.each do |comment| %>
      <% @comment = comment %>
      <%= render "events/show_comment" %>
    <% end %>
  </div>
</div>