<div class="comments" data-id="<%= @comment.id %>">
  <% if current_user %>
    <% @vote = @comment.vote_by(current_user) %>
  <% end %>

  <%= render "votes_forms" %>

  <div><%= @comment.text %></div>
  <div>Posted by: <%= @comment.author.twitter_handle %></div><br>

  <a class="reply" href="#">reply</a>
  <%= render "comment_form" %>

  <hr>

  <div class="nested">
    <% @comment.replies.each do |comment| %>
      <% @comment = comment %>
      <%= render "show_comment" %>
    <% end %>
  </div>
</div>