<div class="comments" data-id="<%= @comment.id %>">
  <% if current_user %>
    <% vote = @comment.vote_by(current_user) %>
  <% end %>

  <p class="comment_author">@<%= @comment.author.twitter_handle %> wrote:</p>
  <div><%= @comment.text %></div>


  
  <div><%= @comment.votes_sum %></div>

  <div class="comment_voting">
    <% if vote %>
      <%= link_to "withdraw your vote", vote_path(vote), method: :delete %>
    <% elsif current_user %>
      <%= form_for Vote.new(comment: @comment, value: 1) do |f|%>
        <%= f.hidden_field :comment_id %>
        <%= f.hidden_field :value %>
        <%= f.submit "support this comment", class: "button" %>
      <% end %>
      <%= form_for Vote.new(comment: @comment, value: -1) do |f|%>
        <%= f.hidden_field :comment_id %>
        <%= f.hidden_field :value %>
        <%= f.submit "dislike this comment", class: "button" %>
      <% end %>
    <% end %>

    <a class="reply" href="#">reply</a>
    <div class="reply" id="reply<%= @comment.id %>">
      <%= render "comment_form" %>
    </div>


    <div class="nested">
      <% @comment.replies.each do |comment| %>
        <% @comment = comment %>
        <%= render "show_comment" %>
      <% end %>
    </div>
  </div>
</div>