<div class="comments" data-id="<%= @comment.id %>">
  <% if current_user %>
    <% vote = @comment.vote_by(current_user) %>
  <% end %>
  
  <div><%= @comment.votes_sum %></div>

  <% if vote %>
    <%= form_for vote, url: vote_path(vote), method: :delete do |f| %>
      <%= f.submit 'un-vote' %>
    <% end %>
  <% elsif current_user %>
    <%= form_for Vote.new(comment: @comment, value: 1) do |f|%>
      <%= f.hidden_field :comment_id %>
      <%= f.hidden_field :value %>
      <%= f.submit "Up!" %>
    <% end %>
    <%= form_for Vote.new(comment: @comment, value: -1) do |f|%>
      <%= f.hidden_field :comment_id %>
      <%= f.hidden_field :value %>
      <%= f.submit "Down :(" %>
    <% end %>
  <% end %>

  <div><%= @comment.text %></div>
  <div>Posted by: <%= @comment.author.twitter_handle %></div><br>

  <a class="reply" href="#">reply</a>
  <div class="reply" id="reply<%= @comment.id %>">
    <%= render "comment_form" %>
  </div>

  <hr>

  <div class="nested">
    <% @comment.replies.each do |comment| %>
      <% @comment = comment %>
      <%= render "show_comment" %>
    <% end %>
  </div>
</div>