<% if current_user %>
  <% vote = @comment.vote_by(current_user) %>
<% end %>

<% if vote %>

  <p class="light_gray_text small" data-comment-id="<%= @comment.id %>">
    <%= vote.value == 1 ? "You upvoted this comment." : "You downvoted this comment." %>
    <br>
    <%= link_to "withdraw your vote", vote_path(vote), method: :delete, class: "delete-vote" %>
  </p>
  
<% elsif current_user %>

  <div class="vote_forms_wrap" data-comment-id="<%= @comment.id %>">
    <%= form_for Vote.new(comment: @comment, value: 1) do |f|%>
      <%= f.hidden_field :comment_id %>
      <%= f.hidden_field :value %>

      <%= button_tag( :class => "upvote vote_button") do %>
        <i class="icon-arrow-up"></i>
      <% end %>
    <% end %>

    <%= form_for Vote.new(comment: @comment, value: -1) do |f|%>
      <%= f.hidden_field :comment_id %>
      <%= f.hidden_field :value %>
      <%= button_tag( :class => "downvote vote_button") do %>
        <i class="icon-arrow-down"></i>
      <% end %>
    <% end %>
  </div>

<% else %>

  <p class="light_gray_text small"><%= link_to 'sign in to vote or leave a reply', '/sign_in' %></p>

<% end %>
