<h1>Upcoming Events</h1>

<div id="sidebar">
  <% if current_user %>
    <%= render "sidebars/events_index" %>
  <% else %>
    <%= render "sidebars/no_current_user" %>
  <% end %>
</div>

<div id="events_wrapper">

  <% @events.each do |event| %>

    <div class="event_wrapper">
      <%= link_to event.title, event %><br>
      <p class="event_date left"><%= event.start.strftime("%A, %B %-d at %-l:%M%p") %> by <%= link_to "@#{event.organizer.twitter_handle}", "http://twitter.com/#{event.organizer.twitter_handle}" %></p>
    </div>
    
  <% end %>

</div>