<!DOCTYPE html>
<html>
<head>
  <title>StackClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>

<header>
  <div id="header_content">
    <div class="left pad-right">
      <%= link_to "view events", events_path %>
    </div>
    <div class="left">
      <%= link_to "create event", new_event_path %>
    </div>

    
      <% if session[:user_id] %>
        <div class="right">
          <%= link_to "sign out", "/sign_out" %>
        </div>
        <div class="right pad-right">
          @<%= current_user.twitter_handle %>
        </div>
      <% else %>
        <div class="right">
          <%= link_to "sign in with twitter", "/sign_in" %>
        </div>
      <% end %>
  </div>
</header>

<div id="container">
  <%= yield %>
</div>

</body>
</html>
