<!DOCTYPE html>
<html>
<head>
  <title>StackClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>

<header>
  <div id="header_content">
    <div class="left">
      <%= link_to "events", events_path %>
    </div>
    <div class="right">
      <% if !session[:user_id] %>
        <%= link_to "sign in with twitter", "/sign_in" %>
      <% else %>
        <%= link_to "sign out", "/sign_out" %>
      <% end %>
    </div>
  </div>
</header>

<div id="container">
  <%= yield %>
</div>

</body>
</html>
